<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/home" class="navbar-brand" ng-click="dropDownChangeView(1);">YOUniverse</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Copertine<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/home">Home</a></li>
                    <li><a href="#!/trend">Trend</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#!/ListaUniversi">Universi</a></li>
                </ul>
        </ul>
        <form ng-submit="ricerca(dati.user.ricerca)" class="navbar-form navbar-left ng-pristine ng-valid">
            <div class="form-group">
                <input  type="text" class="form-control" placeholder="Search" style="margin-bottom: 5px; height: 34px;" ng-model="dati.user.ricerca">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span><span class="caret"></span>Profilo</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Funzionalità</li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(1);">Informazioni</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(2);">Interessi</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(3);">Diario</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(4);">Libreria Universi</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(5);">Storie</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(6);">Palmares</a></li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="logout();">Log Out</a></li>
                </ul>
        </ul>
    </div>
</nav>

<div style="height: 587px;overflow-y: auto;margin-right: -32px;overflow-x: hidden;">
<div><center class="Testata" style="margin-top: 2%;margin-left: 36%;height: 42px;margin-right: 34%;background: whitesmoke;padding-top: 10px;"><p style="font-size: -webkit-xxx-large;">{{StoriaDaLeggere.title}}</p></center></div>

    <div class="lettura" style="font-size: x-large;padding-top: 38px;padding-left: 40px;padding-right: 40px;"><p style="width: 100%;line-height: 25px;;word-break: break-all;">{{StoriaDaLeggere.story}}</p></div>

    <div name="vota"  style="display: flex;margin-top: 1%;width: 100%;height: 43px;margin-left: 55%;">

        <p style="margin-top: 10px;margin-left: 96px;width: 332px; color: cornsilk;">Clicca se la storia ti è piaciuta:</p>
        <button name="vota" class="Bottone" ng-if="!updateButton()" ng-click="Vota()">Vota</button>
        <button name="novota" class="Bottone" ng-if="updateButton()" ng-click="NoVota()">Togli Voto</button>
    </div>

    <div name="commenta"><textarea id="commento" placeholder="Scrivi un commento" style="width: 60%;resize: vertical; margin-left: 300px; margin-top: 20px;" required></textarea></div>

    <div name="commenti" ng-repeat="commenti in listaCommenti| orderBy:'-data'" style="background-color: #cccccc">
        <div name="listacommenti" style="margin-right: -32px; overflow-x:hidden; overflow-y: auto; margin-left: 50px">
        <div style="color:#000000; display:inline-block;">
            <br>
            <p style="color: rgb(151, 38, 200);">{{commenti.scrittore}}</p> </div>
        <p style="word-break: break-all; color: #000000;">{{commenti.testo}}</p>
            <br>

        </div>
    </div>

</div>