<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/home" class="navbar-brand" ng-click="dropDownChangeView(1);">YOUniverse</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Copertine<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/home">Home</a></li>
                    <li><a href="#!/trend">Trend</a></li>
                    <li><a href="#!/news">News</a></li>
                    <li><a href="#!/ListaUniversi">Universi</a></li>
                </ul>
        </ul>
        <form ng-submit="ricerca(dati.user.ricerca)" class="navbar-form navbar-left ng-pristine ng-valid">
            <div class="form-group">
                <input  type="text" class="form-control" placeholder="Search" style="margin-bottom: 5px; height: 34px;" ng-model="dati.user.ricerca">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span><span class="caret"></span>Profilo</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Funzionalità</li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(1);">Informazioni</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(2);">Interessi</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(3);">Diario</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(4);">Libreria Universi</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(5);">Storie</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="dropDownChangeView(6);">Palmares</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="logout();">Log Out</a></li>
                </ul>
        </ul>
    </div>
</nav>

<div name="principale">
    <div class="quadrato" name="passa a Home">
        <center> <h2 style="margin-top: 5px;">HOME</h2></center>
        <a href="#!/home">
            <div name="returnHome" style="background: white;border: black;border-radius: 20px;margin: 6px;margin-top: -6px;padding-top: 5px;padding-bottom: 2px;">
                <center><p>{{storiaMostVotataTua.title}}</p></center>
                <hr style="margin-bottom: 0px;margin-top: 10px;border-color: #f4c430;border-width: 1px;">
                <center><p style="line-height: 26px;margin: 10px;word-wrap: break-word;">{{storiaMostVotataTua.story.substr(0,53)}}</p></center>
            </div>
        </a>
    </div>


    <div class="quadrato" name="passa a Trend">
        <center> <h2 style="margin-top: 5px;">TREND</h2></center>
        <a href="#!/trend">
            <div name="mostTrend" style="background: white;border: black;border-radius: 20px;margin: 6px;margin-top: -6px;padding-top: 5px;padding-bottom: 2px;">
                <center><p>{{storiaMostVotata.title}}</p></center>
                <hr style="margin-bottom: 0px;margin-top: 10px;border-color: #f4c430;border-width: 1px;">
                <center><p style="line-height: 26px;margin: 10px;word-wrap: break-word;">{{storiaMostVotata.story.substr(0,53)}}</p></center>
            </div>
        </a>
     </div>

    <div class="scorrimento">
        <div ng-repeat="post in tuttiIpost| orderBy:orderProp:true" ng-if="post.momento>inizioSettimana" name="contenitore" class="con" style="width: 93%;background: white;display: inline-block;margin: 30px; border-radius: 4px">

            <div ng-if="post.user===utenteFisso">
                <div name="contenuti" style="border-radius: 4px; border-style: solid;border-color: darkgoldenrod;border-width: 2px; border-radius: 4px">
                    <div name="header" style="width: 100%;display: inline-flex;">
                        <a href="#!/ProfiloUtente" ng-click="altri(post.user)" style="border-style: solid;border-width: 4px;border-color: #f4c430;border-top-style: hidden;border-left-style: hidden; border-radius: 60px;">
                            <img ng-init="getUser(post.user,post.$id)" ng-src="{{post.image}}"></a>
                        <p style="margin-top: 3%;padding-left: 2%;font-size: large;height: 43px;width: 100%;border-bottom-color: #f4c430;border-bottom-width: 2px;border-bottom-style: solid;">Hai pubblicato un elemento in data {{post.momento}}</p>
                    </div>
                    <a href="#!/lettura" ng-click="storiaDaLeggere(post.universe,post.StoryId)">
                        <div name="body" style="height: 50%;margin-left: 40px;margin-top: -44px;">
                            <center><h3 style="font-family: serif;font-weight: bold;color: black;margin-top: 9px;margin-bottom: 0px;font-size: 28px;">{{post.title}}</h3></center>
                            <p style="margin-top: 20px;margin-bottom: 12px;font-size: 20px;width: 94%;word-wrap: break-word;">{{post.storia.substr(0, 260)}} <p ng-if="post.storia.length>300">[...]</p></p>
                        </div>
                    </a>
                </div>
            </div>

            <div ng-if="post.user!==utenteFisso">
                <div name="contenuti" style="border-style: solid;border-color: darkgoldenrod;border-width: 2px; border-radius: 4px">
                    <div name="header" style="width: 100%;display: inline-flex;">
                        <a href="#!/ProfiloUtente" ng-click="altri(post.user)" style="border-style: solid;border-width: 4px;border-color: #f4c430;border-top-style: hidden;border-left-style: hidden; border-radius: 60px;">
                            <img ng-init="getUser(post.user,post.$id)" ng-src="{{post.image}}"></a>
                        <p style="margin-top: 3%;padding-left: 2%;font-size: large;height: 43px;width: 100%;border-bottom-color: #f4c430;border-bottom-width: 2px;border-bottom-style: solid;">Ha pubblicato un elemento in data {{post.momento}}</p>
                    </div>
                    <a href="#!/lettura" ng-click="storiaDaLeggere(post.universe,post.StoryId)">
                        <div name="body" style="height: 50%;margin-left: 40px;margin-top: -44px;">
                            <center><h3 style="font-family: serif;font-weight: bold;color: black;margin-top: 9px;margin-bottom: 0px;font-size: 28px;">{{post.title}}</h3></center>
                            <p style="margin-top: 20px;margin-bottom: 12px;font-size: 20px;width: 94%;word-wrap: break-word;">{{post.storia.substr(0, 260)}} <p ng-if="post.storia.length>300">[...]</p></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>


    </div>

</div>
