<body ng-controller="UniversiCtrl">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/ProfiloUtente" class="navbar-brand" ng-click="dropDownChangeView(1);">YOUniverse</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Copertine<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#!/home">Home</a></li>
                    <li><a href="#">Trend</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#!/ListaUniversi">Universi</a></li>
                </ul>
        </ul>
        <form ng-submit="ricerca(dati.user.ricerca)" class="navbar-form navbar-left ng-pristine ng-valid">
            <div class="form-group">
                <input  type="text" class="form-control" placeholder="Search" style="margin-bottom: 5px; height: 34px;" ng-model="dati.user.ricerca">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span><span class="caret"></span>Profilo</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Funzionalità</li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="setView(1);">Informazioni</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="setView(2);">Interessi</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="setView(3);">Diario</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="setView(4);">Libreria Universi</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="setView(5);">Storie</a></li>
                    <li><a href="#!/ProfiloUtente" on-click="event.preventDefault();" ng-click="setView(6);">Palmares</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="logout();">Log Out</a></li>
                </ul>
        </ul>
    </div>
</nav>


<table id="infoUniverso">

    <ul class="nav nav-pills" style="margin-top: 130px;
    margin-left: 220px;">
        <li class="active"><a href="" on-click="event.preventDefault();" ng-click="changeView(9)">{{dati.universe.$id}}</a></li>
        <li><a href="" on-click="event.preventDefault();" ng-click="changeView(10)">Info</a></li>
        <li><a href="" on-click="event.preventDefault();" ng-click="changeView(11)">Storie</a></li>
        <li><a href="" on-click="event.preventDefault();" ng-click="changeView(12)">Mappa</a></li>
    </ul>
    <ul class="nav nav-pills navbar-right" style="margin-top: -41px; margin-right: 40px;">
        <li class="active">
            <a href="#!/Editor"  ng-click="setta(dati.universe.$id)">ESPANDI</a>
        </li>
    </ul>

    <div id="principale" class="wrapper" style="left: 0%; padding-top: 38px;">
        <section style="height: auto;">
            <div id="divUniverso"ng-if="currentPosition==9">
                <ul class="informazioni" style="margin-top: -8px; margin-bottom: 0px; ">
                        <p name="espansioniTot">Espansioni Totali: {{espansioniTotali}}</p>
                    <br>
                        <p name="espansioniPers">Espansioni Personali: {{espansioniPersonali}}</p>
                    <br>
                        <p name="livello" style="margin-top: 40px; margin-bottom: 0px;">Livello raggiunto:</p>
                    <br>
                    <br>
                        <div class="progress-bar" style="margin-top: -60px; margin-left: 320px">
                            <span></span>
                        </div>
                    <p name="livelloraggiunto" style="margin-top: -60px; margin-left: 800px">Liv. 3</p>

                </ul>
            </div>
            <div id="divInfoUni"ng-if="currentPosition==10">
                <ul class="info" style="margin-top: -8px; margin-bottom: 0px; ">
                <div name="contenitore"  style="width: 90%;margin-left: 4%;argin-top: -3%;">

                    <h2>Ambientazione</h2>
                    <p>{{dati.universe.info.Ambientazione}}</p>


                    <h2>Personaggi Chiave</h2>
                    <p>{{dati.universe.info.Personaggi}}</p>


                    <h2>Regolamento</h2>
                    <p>{{dati.universe.info.Regolamento}}</p>


                </div>
                </ul>
            </div>
            <div id="divStorie"ng-if="currentPosition==11">
                <ul class="storie" style="margin-top: -8px; margin-bottom: 0px; ">

                    <h2 style="font-size:36px;"> Le Tue Storie</h2>
                    <div  style="display: inline-flex;width: 100%;">
                    <p ng-repeat="stories in listaStorieUtente" style="margin-right: 10px;">
                        <a href="#!/lettura" ng-click="storiaDaLeggere(stories.story,stories.title)">{{stories.title}}</a>
                    </p>
                    </div>

                    <h2 style="font-size:36px;">Le Storie Degli Altri</h2>
                    <div  style="display: inline-flex;width: 100%;">
                        <p ng-repeat="stories in listaStorieUniverso" style="margin-right: 10px;">
                            <a href="#!/lettura" ng-click="storiaDaLeggere(stories.story,stories.title)">{{stories.title}}</a>
                        </p>
                    </div>
                </ul>
            </div>
            <div id="divMappa"ng-if="currentPosition==12">
                <ul class="mappa" style="margin-top: -8px; margin-bottom: 0px; ">
                    <div name="contenitore" class="ng-scope" style="width: 100%;margin-top: -36px;">
                        <img src="../mappa.jpg" style="width: 100%;">
                    </div>

                </ul>
            </div>




            <!--
            <div id="infoUni" class="tab-pane fade">
            </div>
            <div id="storieUNI" class="tab-pane fade">
            </div>
        <div id="mappaUNI" class="tab-pane fade">
            </div>
        <div id="ESPANDI" class="tab-pane fade">
            </div> -->


        </section>
    </div>
</table>






</body>