<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">YOUniverse</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Copertine<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Trend</a></li>
                    <li><a href="#">News</a></li>
                </ul>
        </ul>
        <form class="navbar-form navbar-left ng-pristine ng-valid">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" style="margin-bottom: 5px; height: 34px;">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span><span class="caret"></span>Profilo</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Funzionalità</li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="changeView(1)">Informazioni</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="changeView(2);">Interessi</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="changeView(3);">Diario</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="changeView(4);">Libreria Universi</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="changeView(5);">Storie</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="changeView(6);">Palmares</a></li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="logout();">Log Out</a></li>
                </ul>
        </ul>
    </div>
</nav>

<div class="HeaderUniversi">
    <table>
        <tr>
    <td><h2>Universo X</h2></td>
   <td><button class="Espandi">Espandi</button></td>
            <td>  <p>Livello: ???</p> </td>
        </tr>
    </table>
</div>


<table id="infoUniverso">

    <tr>
        <td id="Info"><a href="indexUniversi.html#!/Info"  style="color: black;text-decoration: none;">Info</a></td>
        <td id="Storie"><a href="indexUniversi.html#!/Storie"  style="color: black;text-decoration: none;">Storie</a></td>
        <td id="Mappa"><a href="indexUniversi.html#!/Mappa"  style="color: black;text-decoration: none;">Mappa</a></td>
    </tr>

</table>


<div id="principale" class="wrapper" style="padding-top: 38px;">



    <section style="height: auto;">
     <div ng-view>

     </div>
    </section>


</div>




</body>