<body ng-controller="ProfiloCtrl">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="dropDownChangeView(1);">YOUniverse</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Copertine<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Trend</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#!/ListaUniversi">Universi</a></li>
                </ul>
        </ul>
        <form ng-submit="ricerca(dati.user.ricerca)" class="navbar-form navbar-left ng-pristine ng-valid">
            <div class="form-group">
                <input  type="text" class="form-control" placeholder="Search" style="margin-bottom: 5px; height: 34px;" ng-model="dati.user.ricerca">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>


                <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span><span class="caret"></span>Profilo</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Funzionalità</li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="dropDownChangeView(1);">Informazioni</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="dropDownChangeView(2);">Interessi</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="dropDownChangeView(3);">Diario</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="dropDownChangeView(4);">Libreria Universi</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="dropDownChangeView(5);">Storie</a></li>
                    <li><a href="" on-click="event.preventDefault();" ng-click="dropDownChangeView(6);">Palmares</a></li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="logout();">Log Out</a></li>
                </ul>
        </ul>
    </div>
</nav>



<!-- end banner -->




<div class="HeaderUtente">
    <div style="display: inline-flex;">
        <div id="profile-container">
          <img id="profileImage" ng-src="{{dati.user.profilo}}" ng-click="clickImg()">
        </div>
        <input id="imageUpload" ng-model="dati.user.profilo" type="file" name="profile_photo" placeholder="Photo">
        <form ng-if="toUpload()" ng-submit="changeImg()">
            <input type="submit">
        </form>
        <p class="nomeUtente" style="margin-top: 45px;width: 100%;display: inline-table;">{{dati.user.name}}</p>

    </div>
    <div style="width: 100%;margin-left: 40%;display: inline-flex;">

        <p class="Seguiti" style="/* width: 100%; */margin-top: 46px;margin-right: 8%;"> Followings: {{dati.user.number2}} </p>

        <p class="Seguitori" style="margin-top: 46px;display: inline-table;margin-right: 8%;">Followers: {{dati.user.number}}</p>
        <button id="mene" class="Bottone" style="margin-top: 37px;" ng-click="follower();">Segui</button>
        <button id="tene" class="Bottone" style="margin-top: 37px; display: none" ng-click="sfollower()">Smetti di Seguire</button>

    </div>
</div>



<div id="principale" class="wrapper" style="padding-top: 38px;">
    <nav class="dati">

        <ul>
            <li class="tag-h2 active">
                <a href="" on-click="event.preventDefault();" ng-click="changeView(1)"><button class="pannelli">
                    Informazioni
                </button></a>
            </li>
            <li class="tag-h2">
                <a href="" on-click="event.preventDefault();" ng-click="changeView(2);"><button class="pannelli">
                    Interessi
                </button></a>
            </li>
            <li class="tag-h2">
                <a href="" on-click="event.preventDefault();" ng-click="changeView(3);"><button class="pannelli">
                    Diario
                </button></a>
            </li>
            <li class="tag-h2">
                <a href="" on-click="event.preventDefault();" ng-click="changeView(4);"><button class="pannelli">
                    Libreria Universi
                </button></a>
            </li>
            <li class="tag-h2">
                <a href="" on-click="event.preventDefault();" ng-click="changeView(5);"><button class="pannelli">
                    Storie
                </button></a>
            </li>
            <li class="tag-h2">
                <a href="" on-click="event.preventDefault();" ng-click="changeView(6);"><button class="pannelli">
                    Palmares
                </button></a>
            </li>

        </ul>

    </nav>
    <section style="height: auto;" >

        <div id="div1" ng-if="currentPosition==1">
            <a href="" on-click="event.preventDefault();" ng-click="changeView(7);"><button class="edit" ng-if="IDcontrol()">Edit</button></a>
            <ul class="informazioni" style="margin-top: -8px; margin-bottom: 0px; ">
                <li>Username: {{dati.user.name}}</li>
                <li>Gender: {{dati.user.gender}}</li>
                <li>Date of Birth: {{dati.user.date}}</li>
                <li>City: {{dati.user.city}}</li>
                <li>E-Mail: {{dati.user.email}}</li>
                <li>About Me: {{dati.user.about}}</li>
            </ul>
        </div>

        <div id="div2" ng-if="currentPosition==2">
            <a href="" on-click="event.preventDefault();" ng-click="changeView(8);"><button class="edit" ng-if="IDcontrol()">Edit</button></a>
            <ul class="interessi" style="margin-top: -8px; margin-bottom: 0px;">
                <li>FILM:{{dati.user.film}}</li>
                <li>LIBRI:{{dati.user.libri}}</li>
                <li>FUMETTI:{{dati.user.comic}}</li>
                <li>VIDEOGIOCHI:{{ dati.user.videogame}}</li>
            </ul>
        </div>
        <div id="div3"ng-if="currentPosition==3">
            <div name="contenitore" class="con" style="width: 100%;background: white; display: inline-block">
                <div name="contenuti" style="">
                    <div name="header" style="width: 100%;display: inline-flex;">
                        <img ng-src="{{dati.user.profilo}}">
                        <p style="margin-top: 5%;margin-left: 4%;font-size: large;"> Hai pubblicato un elemento</p>
                    </div>

                    <div name="body" style="height: 50%;margin-left: 30px;">
                        <h3 style="margin-left: 15%;margin-top: 0px;margin-bottom: 0px;">Titolo</h3>
                        <p style="margin-left: 7%;">qui c'è l'intro della storia</p>
                    </div>
                </div>
                <div name="opzioni" style="float: right;margin-right: 3%;margin-bottom: 1%;">...</div>
            </div>
        </div>
        <div id="div4"ng-if="currentPosition==4">
            <div name="contenitore" style="width: 100%;" class="ng-scope">
                <a href="#!/universi"> <div name="contenuti" style=" width: 100%; display: inline-flex;">
                    <div name="ImmagineUniverso" style="height: 80px;border-radius: 71px;width: 90px;background-color: darkred;">
                        <div class="universo"></div>
                    </div>
                    <div name="info" style="margin-top: 1.5%;width: 100%;">
                        <h1 style=" margin-bottom: 0px; margin-top: 0px; margin-left: 30%;">Universo x</h1>
                        <div name="subInfo&quot;" style="display: inline-flex; width: 80%; margin-left: 17%; margin-top: 2%;">
                            <p name="espansioni" style="margin-right: 29%; margin-bottom: 0px; margin-top: 0px;">Espansioni: 5</p>
                            <p name="livello" style="margin-top: 0px; margin-bottom: 0px;">Livello:</p>
                            <div class="progress-bar">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div id="div5"ng-if="currentPosition==5">
            <a href="#!/Editor"><button class="Bottone" ng-if="IDcontrol()">Crea</button></a>

            <div name="contenitore" class="con ng-scope" style="display: inline-grid;width: 100%;background: white;">
                <div name="contenuti" style="display: inline-block;border-bottom: 1px solid #731c71;">
                    <div name="Foto e titolo" style="display: inline-flex;width: 100%;">
                        <img ng-src="{{dati.user.profilo}}">
                        <h2 style="margin-left: 10%;margin-top: 35px;">Brutta Storia</h2>
                    </div>
                    <div name="storia" style="margin-left: 10%;margin-right: 10%;height: 50px;">
                        <p style="margin-top: 0px; margin-bottom: 0px;">La situazione è questa.</p>
                    </div>
                    <div name="opzioni" style="margin-right: 3%;margin-bottom: 1%;float: right;">...</div>
                </div>

                <div name="contenuti" style="display: inline-block;border-bottom: 1px solid #731c71;">
                    <div name="Foto e titolo" style="display: inline-flex;width: 100%;">
                        <img ng-src="{{dati.user.profilo}}">
                        <h2 style="margin-left: 10%;margin-top: 35px;">Brutta Storia</h2>
                    </div>
                    <div name="storia" style="margin-left: 10%;margin-right: 10%;height: 50px;">
                        <p style="margin-top: 0px; margin-bottom: 0px;">La situazione è questa.</p>
                    </div>
                    <div name="opzioni" style="margin-right: 3%;margin-bottom: 1%;float: right;">...</div>
                </div>

                <div name="contenuti" style="display: inline-block;border-bottom: 1px solid #731c71;">
                    <div name="Foto e titolo" style="display: inline-flex;width: 100%;">
                        <img ng-src="{{dati.user.profilo}}">
                        <h2 style="margin-left: 10%;margin-top: 35px;">Brutta Storia</h2>
                    </div>
                    <div name="storia" style="margin-left: 10%;margin-right: 10%;height: 50px;">
                        <p style="margin-top: 0px; margin-bottom: 0px;">La situazione è questa.</p>
                    </div>
                    <div name="opzioni" style="margin-right: 3%;margin-bottom: 1%;float: right;">...</div>
                </div>


            </div>
        </div>
        <div id="div6"ng-if="currentPosition==6">
            <div name="contenitre" class="ng-scope" style="margin-top: -5%; margin-left: -3%;">
                <table>
                    <tr>
                        <td>
                            <div name="elemento" style="width: 30%;height: 30%;display: table-cell;">
                                <center><img class="medaglia" src="../premio.png" style="width: 80%;"></center>
                                <center><p style="margin-top: 7px;margin-bottom: -17px;font-size: large;">obbiettivo per sbloccare</p></center>
                                <center><h2>UNLOCKED</h2></center>
                            </div>
                        </td>
                        <td>
                            <div name="elemento" style="width: 30%;height: 30%;display: table-cell;">
                                <center><img class="medaglia" src="../premio.png" style="width: 80%;"></center>
                                <center><p style="margin-top: 7px;margin-bottom: -17px;font-size: large;">obbiettivo per sbloccare</p></center>
                                <center><h2>UNLOCKED</h2></center>
                            </div>
                        </td>
                        <td>
                            <div name="elemento" style="width: 30%;height: 30%;display: table-cell;">
                                <center><img class="medaglia" src="../premio.png" style="width: 80%;"></center>
                                <center><p style="margin-top: 7px;margin-bottom: -17px;font-size: large;">obbiettivo per sbloccare</p></center>
                                <center><h2>UNLOCKED</h2></center>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div name="elemento" style="width: 30%;height: 30%;display: table-cell;">
                                <center><img class="medaglia" src="../premio.png" style="width: 80%;"></center>
                                <center><p style="margin-top: 7px;margin-bottom: -17px;font-size: large;">obbiettivo per sbloccare</p></center>
                                <center><h2>UNLOCKED</h2></center>
                            </div>
                        </td>
                        <td>
                            <div name="elemento" style="width: 30%;height: 30%;display: table-cell;">
                                <center><img class="medaglia" src="../premio.png" style="width: 80%;"></center>
                                <center><p style="margin-top: 7px;margin-bottom: -17px;font-size: large;">obbiettivo per sbloccare</p></center>
                                <center><h2>UNLOCKED</h2></center>
                            </div>
                        </td>
                        <td>
                            <div name="elemento" style="width: 30%;height: 30%;display: table-cell;">
                                <center><img class="medaglia" src="../premio.png" style="width: 80%;"></center>
                                <center><p style="margin-top: 7px;margin-bottom: -17px;font-size: large;">obbiettivo per sbloccare</p></center>
                                <center><h2>UNLOCKED</h2></center>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <div id="div7"ng-if="currentPosition==7">
            <a href="" on-click="event.preventDefault();" ng-click="changeView(1);"><button class="edit">Save</button></a>
            <ul class="informazioni" style="margin-top: -8px; margin-bottom: 0px; ">
                <li>Username: <input type="text" class="form-control"  placeholder="Enter Username" name="name" ng-model="dati.user.name" ng-change="updateInfo('name', dati.user.name)"/> </li>
                <li>Gender: <input type="radio" name="gender" value="male" ng-model="dati.user.gender" ng-change="updateInfo('gender', 'M')"/> Male <input type="radio" name="gender" value="female" ng-model="dati.user.gender" ng-change="updateInfo('gender', 'F')"/> Female </li>
                <li>Date of Birth: <input type="date" ng-model="dati.user.date" ng-change="updateInfo('date', dati.user.date.toDateString())"></li>
                <li>City: <input type="text" class="form-control"  placeholder="Enter City" name="city" ng-model="dati.user.city" ng-change="updateInfo('city', dati.user.city)"/> </li>
                <li>E-Mail: <input type="text" class="form-control" placeholder="Enter e-mail" name="name" ng-model="dati.user.email" ng-change="updateInfo('email', dati.user.email)"/></li>
                <li>About Me:<input type="text" class="form-control"  placeholder="Write about yourself" name="about" ng-model="dati.user.about" ng-change="updateInfo('about', dati.user.about)"/></li>
            </ul>


        </div>

        <div id="div8"ng-if="currentPosition==8">
            <a href="" on-click="event.preventDefault();" ng-click="changeView(2);">
                <button class="edit">Save</button></a>
            <ul class="interessi" style="margin-top: -8px; margin-bottom: 0px;">
                <li><form ng-submit="listOf('film', dati.user.film)">FILM: <input type="text" class="form-control"  placeholder="Use , to separate movies" name="Film" ng-model="dati.user.film" />
                    <button type="submit" class="invio">Submit</button></form> </li>
                <li><form ng-submit="listOf('libri', dati.user.libri)">LIBRI:<input type="text" class="form-control"  placeholder="Use , to separate books" name="Libri" ng-model="dati.user.libri"/>
                    <button type="submit" class="invio">Submit</button></form></li>
                <li><form ng-submit="listOf('comic', dati.user.comic)">FUMETTI:<input type="text" class="form-control"  placeholder="Use , to separate comics" name="Fumetti" ng-model="dati.user.comic"/>
                    <button type="submit" class="invio">Submit</button></form></li>
                <li><form ng-submit="listOf('videogame', dati.user.videogame)">VIDEOGIOCHI:<input type="text" class="form-control"  placeholder="Use , to separate videogames" name="Videogiochi" ng-model="dati.user.videogame"/>
                    <button type="submit" class="invio">Submit</button></form></li>
            </ul>
        </div>

    </section>
</div>



</body>